{% extends "base.html" %}

{% block side_menu %}
    <li class="nav-item"><a class="nav-link active" href="{% url 'index' %}">HOME</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'category-list' %}">Categories</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'discussion-list' %}">Discussions</a></li>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center"><h1>Homepage</h1></div>
    <div class="d-flex justify-content-center"><img src="static/img/forum.jpg" alt="Forum image"></div>
    <div class="d-flex justify-content-center">
    <div class="col-lg-8 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</div>
    </div>
{% endblock %}