{% extends "base.html" %}

{% block side_menu %}
    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">HOME</a></li>
    <li class="nav-item"><a class="nav-link active" href="{% url 'category-list' %}">Categories</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'discussion-list' %}">Discussions</a></li>
    <li class="nav-item nav-link text-white">|</li>
    <li class="nav-item"><a class="nav-link" href="{% url 'category-add' %}">Add category</a></li>
{% endblock %}

{% block content %}
    <h1>Categories</h1>
    <ul class="list-group">
        {% for category in object_list %}
            <li class="list-group-item w-50"><a href="{% url 'category-detail' category.pk %}">{{ category.title }}</a></li>
        {% empty %}
            <li class="list-group-item w-50">No category yet.</li>
        {% endfor %}
    </ul>
{% endblock %}