{% extends "base.html" %}

{% block side_menu %}
    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">HOME</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'category-list' %}">Categories</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'discussion-list' %}">Discussions</a></li>
    <li class="nav-item nav-link text-white">|</li>
    <li class="nav-item"><a class="nav-link" href="{% url 'post-add' %}">Add post</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'post-update' post.pk %}">Update</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'post-delete' post.pk %}">Delete</a></li>
{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <h4>Created by: {{ post.created_by }}</h4>
    <div class="well well-lg">{{ post.body }}</div>
{% endblock %}