{% extends "base.html" %}

{% block side_menu %}
    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">HOME</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'category-list' %}">Categories</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'discussion-list' %}">Discussions</a></li>
{% endblock %}

{% block content %}
    <h1>Post deleting</h1>
    <h3>Are you sure?</h3>
    <p>You're about to delete <strong>{{ object }}</strong>. Please confirm.</p>
    <form action="" method="post">
        {% csrf_token %}
        <input class="btn btn-link"
               type="button" value="Cancel"
               onclick="window.history.go(-1);"/>
        <input class="btn btn-danger" type="submit" value="Confirm"/>
    </form>
{% endblock %}