{% extends "base.html" %}

{% block side_menu %}
    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">HOME</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'category-list' %}">Categories</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'discussion-list' %}">Discussions</a></li>
    <li class="nav-item nav-link text-white">|</li>
    <li class="nav-item"><a class="nav-link" href="{% url 'post-add' %}">Add post</a></li>
{% endblock %}

{% block content %}
    <h1>Posts</h1>
    <ul class="list-group">
        {% for post in object_list %}
            <li class="list-group-item w-50"><a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a></li>
        {% empty %}
            <li class="list-group-item w-50">No post yet.</li>
        {% endfor %}
    </ul>
{% endblock %}